 
 
 <div class="row" id="sky"></div> 
       <div class="row" id="ground">
           <div class="col-sm-4" id="left"></div>
           <div class="col-sm-4" id="middle" >
               
               <input class="form-control" id="ex1" type="text" ng-model="myInput">
               <button type="button" class="btn btn-primary btn-lg" id="button" ng-click="sendInput(myInput)">Send it my way</button>
           </div>
           <div class="col-sm-4" id="right"></div>
       </div> 
       <div class="row" id="grass"></div> 
